###############
#    ignore   #
###############
###############
#    global   #
###############
###############
#    project  #
###############
/ContractOnline/bin/
/ContractOnline/obj/
/ContractOnlineTest/
/.vs/
/packages/
/Pub/
/TestResults/
