<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="pdfFolder" value="D:\works\Greenspot\ContractOnline\ContractOnline\pdf\"/>
    <add key="logoFile" value="D:\works\Greenspot\ContractOnline\ContractOnline\img\logo.png"/>
    <add key="server" value="mail.cyberpark.co.nz" />
    <add key="port" value="25" />
    <add key="enableSsl" value="false" />
    <add key="username" value="qin@cyberpark.co.nz" />
    <add key="password" value="Bh4ahls^" />
    <add key="senderAddress" value="noreply@greenspot.net.nz" />
    <add key="senderDisplayName" value="Greenspot" />
    <add key="timeout" value="60000" />
    <add key="ccAddress" value="cupidshen@163.com"/>
    <add key="ccAddress1" value="charles@cloudnetnz.com"/>
    <add key="ccAddress2" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>
