@{
    var _model = (ContractOnline.Models.FormViewModel)ViewBag.Model;
}
<html>
<head>
    <title></title>
    <link rel="icon" type="image/png" href="~/img/icon.png">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            font-size: 28px;
        }
    </style>
</head>
<body>
    <div class="container col-xs-12">
        <div style="height:80px;background-color:#5cb85c;text-align:center;padding-top:10px">
            <img src="~/img/logo.png" height="60" />
            <font style="font-size:40px;vertical-align:middle;line-height:40px;font-weight:bold;color:white">
                Terms & Conditions
            </font>
        </div>
        All contents of this website are copyright © GREENSPOT. All rights reserved.
        I. Provider
        Greenspot®
        Greenspot Communications Ltd., a company incorporated in Auckland, New Zealand, Company No. 5489466, registered office 945A New North Road, Mount Albert, Auckland 1025, New Zealand (hereinafter "Provider", "we") is providing this website www.greenspot.net.nz and services of GREENSPOT™ (hereinafter "GREEN SPOT™" or "Services").

        II. Contract
        These Terms and Conditions represent terms and condition of Agreement between you and the Provider. These Terms and Conditions are incorporated into any contract between the Provider and you as a Client/Partner (Publisher) under the license to provide and use of GREEN SPOT™ or the Advertiser under the license of use GREENSPOT™.
        You acknowledge that we have the right, at any time and from time to time, to modify any or all of GREEN SPOT™ prices announced in prior notification.
        Further, we reserve the right, in our sole discretion, at any time and from time to time, to modify any or all of GREENSPOT™, or to discontinue the publication,distribution, sale or licensing of any or all of GREEN SPOT™ without liability of any kind.
        Except as otherwise mutually agreed in writing, you shall be responsible for all costs associated with its performance of this Terms and conditions. You will indemnify
        and hold us harmless from any obligation to pay any governmental entity any employer statutory taxes, withholding taxes, social security taxes or
        other taxes, levies or duties in connection with your performance under this Terms and conditions, and from any and all damages, losses, liabilities and expenses
        (including reasonable attorneys' fees and costs of litigation) arising out of or resulting from this Terms and conditions.
        Orders are considered as accepted by receiving confirmation email to your registered email address and declares conclusion. The Provider reserves the right not
        to accept an order/contract or recall accepted order/contract at its discretion.
        As between the Provider and you, all rights, title and interest in and to GREEN SPOT™ and associated Provider promotional materials and documentation, including
        without limitation all copyrights, patent rights, trademark and service mark rights, trade secret rights and other intellectual property rights are and will
        remain the property of Provider, and such items may only be used by you as expressly permitted hereunder. You shall not remove, alter or otherwise modify
        any copyright, trademark or other notices of proprietary interest contained within the source code, our promotional materials and/or documentation.
        You declare that you use GREEN SPOT™ for economical and business purposes and consumer protection law is not applicable. If you are using GREEN SPOT
        ™ on behalf of a business, that business accepts these terms. It will hold harmless and indemnify the Provider and its affiliates, officers, agents, and employees
        from any claim, suit or action arising from or related to the use of the GREEN SPOT or violation of these terms, including any liability or expense arising from
        claims, losses, damages, suits, judgments, litigation costs and attorneys' fees.
        III. Using GREEN SPOT
        You must follow any policies made available to you within GREENSPOT™. Don't misuse GREENSPOT™. For example, don't interfere with GREENSPOT
        ™ or try to access them using a method other than the interface and the instructions that we provide. You may use GREENSPOT™ only as permitted by law,
        including applicable export and re-export control laws and regulations. We may suspend or stop providing GREENSPOT™ to you if you do not comply with
        our terms or policies or if we are investigating suspected misconduct.
        Using GREEN SPOT™ does not give you ownership of any intellectual property rights in GREEN SPOT™ or the content you access. You may not use content
        from GREEN SPOT™ unless you obtain permission from its owner or are otherwise permitted by law. These terms do not grant you the right to use any branding
        or logos used in GREEN SPOT™. Don't remove, obscure, or alter any legal notices displayed in or along with GREEN SPOT™.
        GREENSPOT™ displays some content that is not GREENSPOT's. You are responsible for information or material which you transmit or access via GREENSPOT
        ™ and all content must comply with Advertising Guidelines. Third-party content is the sole responsibility of the entity that makes it available. We may
        review content to determine whether it is illegal or violates our policies, and we may remove or refuse to display content that we reasonably believe violates our
        policies or the law. But that does not necessarily mean that we review content, so please don't assume that we do.
        In connection with your use ofGREENSPOT™, we may send you service announcements, administrative messages, and other information.
        GREEN SPOT™ is available on mobile devices. Do not use GREEN SPOT™ in a way that distracts you and prevents you from obeying traffic or safety laws.
        GREEN SPOT™ Dashboard allows you as a Publisher to access data collected of End users of GREEN SPOT™ connected thru your network, therefore you
        fully agree to use these data in according to Privacy policy.
        You undertake to do not act in any way that could be unlawful or encourage others to act unlawfully. In particular, does not infringe intellectual property rights,
        does not reveal confidential or sensitive information and do not engage in any criminal offence or encourage others to do so. You undertake to do not act in any
        way that is inappropriate, e.g. harassing, defamatory, threatening, obscene, abusive, racist, sexist, offensive or otherwise objectionable. You also undertake to
        do not act in any way that may affect the running of GREEN SPOT™ or other technology connected to it.
        We do not monitor or control any of the material that is transmitted or accessed via GREENSPOT™. You should ensure that any person using GREENSPOT™
        via your network is familiar with and accepts the content of these terms. In case of any technical barriers or inability to activate GREENSPOT™, we will notify
        you as soon as possible and agree on other proceeding. The Provider may make improvements to the technical specification ofGREENSPOT™. In case these
        chances affect GREEN SPOT™ functioning, Provider will inform you in advance.
        GREENSPOT™ is compatible with selected hardware therefore you install the hardware and we do not guarantee the proper functioning ofGREENSPOT™
        running on the equipment supplied by the third party. You agree not to install or use, or let any third party install or use, any device on your network with the
        intention of monitoring or intercepting data passing into or out of GREEN SPOT™.
        The Provider requires an active, working broadband connection at all times. The provision of a working broadband connection at the venue is the sole responsibility
        of the Publisher.
        Life of Greens pot
        ®Greens pot
        IV. GREENSPOT™ Account
        You need to create an GREEN SPOT™ Account in order to use GREEN SPOT™. You may create your own GREEN SPOT™ Account as a Publisher or Advertiser,
        as a Partner your basic account can be upgraded to an administrator's one, administrator may be able to access or disable managed accounts.
        To protect your GREEN SPOT™ Account, keep your password confidential. You are responsible for the activity that happens on or through your GREENSPOT
        ™ Account. Try not to reuse your GREEN SPOT™ Account password on third-party applications. If you learn of any unauthorized use of your password
        or GREEN SPOT™ Account, inform us immediately on support@greenspot.net.nz.
        V. Privacy and Copyright Protection
        Our privacy policy explains how we treat your personal data and protect your privacy when you use GREEN SPOT™. By using GREEN SPOT™, you agree
        that the Provider can use such data in accordance with our privacy policies. We respond to notices of alleged copyright infringement and terminate accounts of
        repeat infringers. We provide information to help copyright holders manage their intellectual property online. If you think somebody is violating your copyrights
        and wants to notify us at support@greenspot.net.nz. GREEN SPOT™ allows you to upload, submit, store, send or receive content. You retain ownership
        of any intellectual property rights that you hold in that content. In short, what belongs to you stays yours. When you upload, submit, store, send or receive content
        to or through GREENSPOT™, you give us (and those we work with) a worldwide license to use, host, store, reproduce, modify, create derivative works
        (such as those resulting from translations, adaptations or other changes we make so that your content works better with GREEN SPOT™), communicate, publish,
        publicly perform, publicly display and distribute such content. The rights you grant in this license are for the limited purpose of operating, promoting, and
        improving GREENSPOT™, and to develop new ones. This license continues even if you stop using GREEN SPOT. Make sure you have the necessary rights to
        grant us this license for any content that you submit to GREEN SPOT™.
        VI. Modifying and Terminating GREENSPOT™
        We are constantly changing and improving GREEN SPOT™. We may add or remove functionalities or features, and we may suspend or stop GREEN SPOT™
        altogether. You can stop using GREEN SPOT™ at any time, although we'll be sorry to see you go. The Provider may also stop providing GREEN SPOT™ to
        you, or add or create new limits to GREENSPOT™ at any time. We believe that you own your data and preserving your access to such data is important. If we
        discontinue GREEN SPOT™, where reasonably possible, we will give you reasonable advance notice and a chance to get information out of GREEN SPOT™.
        VII. Confidentiality
        You agree not to disclose GREEN SPOT™ Confidential Information without our prior written consent. "GREENSPOTfM Confidential Information" includes:
        (a) all GREENSPOTTM software, technology and documentation relating to GREENSPOT; (b) click-through rates or other statistics relating to property performance
        as pertaining to GREENSPOT™; (c) the existence of, and information about, beta features in GREENSPOTfM; and (d) any other information made
        available by the Provider that is marked confidential or would normally be considered confidential under the circumstances in which it is presented. The Provider's
        Confidential Information does not include information that you already knew prior to your use ofGREENSPOT, that becomes public through no fault
        of yours, that was independently developed by you, or that was lawfully given to you by a third party. Notwithstanding this section, you may accurately disclose
        the amount ofGREENSPOT's gross payments resulting from your use of the GREENSPOT.
        VIII. Termination
        You may terminate the Agreement at any time by contacting our Support Center. The Agreement will be considered terminated within 10 business days of the
        Provider's receipt of your notice. Payment will be charged due to active period.
        You may decide to pre-pay GREENSPOTfM for one year in advance in favorable conditions. In case of termination GREENSPOT™ during this we will pay
        back the appropriate amount for the months GREENSPOT™ is not provided, under the loss the favour of the discount and the discount will be deducted from
        the return payment.
        If you terminate the Agreement, we will pay you your credit balance within approximately 90 days after the end of the calendar month in which the Agreement
        is terminated. We may at any time terminate the Agreement, or suspend or terminate the participation of any property in GREENSPOT for any reason. If we
        terminate the Agreement due to your breach or due to invalid activity, we may withhold unpaid amounts or charge back your account. If you breach the Agreement
        or we suspend or terminate your Account, you (i) will not be allowed to create a new Account, and (ii) may not be permitted to monetize content on
        GREEN SPOT™. The termination or expiry of this Agreement shall be without prejudice to the rights and liabilities of either of Provider or yours accruing up
        to such date. You can terminate your account with immediate effect.
        IX. Indemnity
        You agree to indemnify and defend the Provider, its affiliates, agents, and advertisers from and against any and all third-party claims and liabilities arising out
        of or related to the properties, including any content served on the properties that is not provided by the Provider your use of GREEN SPOT™, or your breach
        of any term of the Agreement. The Provider's advertisers are third-party beneficiaries of this indemnity.
        X. Representations
        You represent and warrant that (i) you have full power and authority to enter into the Agreement; (ii) you are the owner of, or are legally authorized to act on
        behalf of the owner of, each property; (iii) you are the technical and editorial decision maker in relation to each property on which GREENSPOTfM is used and
        that you have control over the way in which GREEN SPOT™ is used on each property; (iv) the Provider has never previously terminated or otherwise disabled
        your GREEN SPOT™ account created by you due to your breach of the Agreement or due to invalid activity; (v) entering into or performing under the Agreement
        will not violate any agreement you have with a third party or any third-party rights; and (vi) all of the information provided by you to the Provider is correct
        and current.
        Life of Greens pot P
        Greenspot®
        XI. Our Warranties and Disclaimers
        We provide GREEN SPOT™ using a commercially reasonable level of skill and care and we hope that you will enjoy using them. But there are certain things
        that we don't promise about GREEN SPOT™. Other than as expressly set out in these terms or additional terms, neither the Provider nor its suppliers or distributors
        make any specific promises about GREENSPQ'fTM For example, we don' t make any commitments about the content within GREEN SPOT™, the specific
        functions ofGREENSPO'fTM or its profi tability, reliability, availability, or ability to meet your needs. We provide GREENSPQ'fTM "as is". To the extent
        permitted by law, we exclude all warranties, express, statutory or implied. We expressly di sclaim the warranties or conditions of non-infringement, merchantability,
        and fitness for a particular purpose. Some jurisdictions provide for certain warranties, like the implied warranty of merchantability, fi tness for a particular
        purpose and non-infringement. To the extent permitted by law, we exclude all warranties.
        XII. Liability
        The Provider gives no warranty and makes no representation in respect ofGREENSPQ'fTM including, without limitation, the availability ofGREENSPOT™ as
        specified in these Terms and hereby excludes, to the fullest extent permitted by law, all conditions, warranties, terms, undertakings and representations, express
        or implied, whether by statute, common law or otherwise in relation to GREENSPQ'fTM The Provider shall not be liable to you whether in contract, tort, by
        statute or otherwise in respect of any loss of profits and/or for any special, indirect, incidental or consequential loss, exemplary, or punitive damages or damage
        arising out of or in connection with the use ofGREENSPQ'fTM for loss of revenue, loss of anticipated savings, loss of business and/or goods, loss of goodwill,
        loss of use, loss and/or corruption of data and/or other information, and downtime. For the avoidance of doubt, neither the types of loss and/or damage specified
        in articles of Liability above inclusive nor any similar types ofloss and/or damage shall constitute direct loss for the purposes of this Agreement.
        When you connect to the internet through GREEN SPOT™ you will visit a "splash page" which contains access information and may contain information about
        the Publisher or the third party. The Provider is not responsible for any content contained on the "splash page". The Publisher confirms that he owns it or he is
        authorised to use all materials appearing on the "splash page" and that he gives permission to the Provider to use such material in the creation of the "splash
        page" and in any other way necessary to deliver GREEN SPOT™. The Publisher is not responsible for the Ad within SMN given by the third party.
        To the extent permitted by law, the total liability of the Provider, and its suppliers and distributors, for any claims under these terms, including for any implied
        warranties, is limited to the net amount you paid us in connection with this Agreement to use GREEN SPOT™ during the three month period immediately preceding
        the date of the claim. In all cases, the Provider, and its suppliers and distributors, will not be liable for any loss or damage that is not reasonably foreseeable.
        We recognize that in some countries, you might have legal rights as a consumer. If you are using GREENSPOT™ for a personal purpose, then nothing in
        these terms or any additional terms limits any consumer legal rights which may not be waived by contract.
        You acknowledge that you have entered into the Agreement relying on the limitations of liability stated herein and that those limitations are an essential basis
        of the bargain between the parties.
        XIII. Force Majeure
        No fa ilure or omission by the Provider to carry out or observe any of the terms and conditions of this Agreement shall give rise to any claim against the Provider
        or be deemed a breach of this Agreement if such fa ilure or omission arises from a cause of force maj eure or any other cause beyond the reasonable control of
        the Provider.
        XIV. Miscellaneous
        No waiver by either party of any provisions of this Agreement shall be binding unless made expressly and confirmed in writing. Any such waiver shall not
        apply to any subsequent or other matter, non-compliance or breach.
        This Agreement represents the entire understanding between the parties in relation to the matters dealt with herein and supersedes all previous covenants and
        representations made by either party, whether oral or written. This Agreement may only be modified if such modification is in writing and signed by a duly authorised
        representative of each party hereto.
        XV. About these Terms
        We may modify the Agreement and these terms or any additional terms that apply to GREENSPQ'fTM to, for example, reflect changes to the law or changes to
        GREEN SPOT™ at any time. You should look at the terms regularly. We' ll post any modifications to these Terms on this page and any modifications to the
        Privacy Policy or Guidelines on their respective pages. Changes will not apply retroactively and generally will become effective 14 days after they are posted.
        However, changes addressing new functions for GREEN SPOT™ or changes made for legal reasons will be effective immediately. If you don't agree to any
        modified terms in the Agreement, you' ll have to stop using the affected Services.
        If there is a conflict between these terms and the additional terms, the additional terms will control for that conflict. These terms control the relationship between
        the Provider and you. They do not create any third party beneficiary rights. If you do not comply with these terms, and we don' t take action right away,
        this doesn' t mean that we are giving up any rights that we may have (such as taking action in the future). If it turns out that a particular term is not enforceable,
        this will not affect any other terms.
        Date of issue 06 Feb., 2015
</body>
</html>